<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>

    <div>
        <h1>Contact Details</h1>
    </div>

    <div>
        <ul>
                <% for (let i of contact_list) { %> 
            <div class="contact">
                <li>
                    <p><%= i.name %></p>
                    <p><%= i.phone %></p>
                </li>
            </div>

            <div class="delete-button">
                    <a href="/delete-contact/?phone=<%= i.phone %>">
                        delete
                    </a>
            </div>
           <% } %>
        </ul>
    </div>

    <form action="/create-contact" method="POST">
        <input type="text" name="name" value="" placeholder="Enter name" required>
        <input type="number" name="phone" value="" placeholder="Enter phone" required>
        <button type="submit">Add contact</button>
    </form>

    <h1>Codeil / <%= title %></h1>    
</body>
</html>