body{
    text-align: center;
}

.heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
    border: 1px solid blue;
    margin-bottom: 25px;
   
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}

#contact-list-container ul{
    padding: 0%;
    list-style: none;
}

.contact{
    padding: 3px 10px;
    border: 1px solid white;
    background-color: #6f92f9;
    box-shadow: 1px 1px 1px lightgrey;
    color: white;
    display: flex;
    
}

.contact.details{
    display: flex;
    flex-direction: flow;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
   }

.contact.delete-button a{
    color: white;
    background-color: red;
   
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}
.contact.contact.delete-button{
    margin-right:16px;
}